<section class="post-details-component">
    <div class="container">
        @if (!isLoading) {
            <div class="row">
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="text-decoration-none" routerLink="/posts">Posts</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Details</li>
                    </ol>
                </nav>
            </div>
            <div class="row mt-3">
                <div class="col-lg-8 mb-3">
                    <div class="post-item-details">
                        <div class="card-body">
                            <h5 class="card-title mb-3">
                                <img src="../../../assets/images/info.png" class="me-1" width="24" height="24" />
                                {{postDetails.title}}
                            </h5>
                            <p class="card-text">{{postDetails.body}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row comments-box mt-3 pt-3 border-top">
                <div class="title mb-3">
                    <h3>
                        <img src="../../../assets/images/chat.png" class="me-1" width="24" height="24" />
                        Comments
                    </h3>
                </div>
                @for (item of postComments; track $index) {
                <div class="col-md-6">
                    <ul class="comment-item border rounded p-3 mb-3 list-unstyled">
                        <li class="body-info mb-4">
                            {{item.body}}
                        </li>
                        <li class="name-email-info d-flex flex-wrap">
                            <span class="name pe-3 position-relative">
                                {{item.name}}
                            </span>
                            <span class="email ps-3">
                                {{item.email}}
                            </span>
                        </li>
                    </ul>
                </div>
                }

            </div>
        } @else {
            <div class="loading-box">
                <app-spinner></app-spinner>
            </div>
        }
    </div>
</section>